@use "sass:map";
@use "variables" as *;
@use "mixins" as *;

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background-color: var(--color-secundario) !important;
  color: var(--color-primario) !important;
}

header {
    background-color: var(--color-header) !important;  // Aplicar el color blanco
  }
  
  @media (prefers-color-scheme: dark) {
    /* Cambiar el fondo de los elementos con la clase bg-gris en modo oscuro */
    .bg--gris {
        background-color: var(--color-fondo-oscuro) !important;
    }
  }

.video__container {
    @include videos-pages;
}

.video__background {
    @include backgroundVideos-page;
}

.modificar--title {
    @include modificar-title(-10deg, 3em);
    &--footer{
      @include modificar-title(-10deg, 5em);
    }
}

.centrar {
    @include subtitulo-centrar;
}

.menu__link {
  @include menu-style;
}

// Estilos para el footer
footer {
  @include footer-style;
}